<h1>Listing status_codes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @status_codes.each do |status_code| %>
      <tr>
        <td><%= link_to 'Show', status_code %></td>
        <td><%= link_to 'Edit', edit_status_code_path(status_code) %></td>
        <td><%= link_to 'Destroy', status_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Status code', new_status_code_path %>
