<div class="container">
  <!-- <h3 class="about-title text-center">小确幸</h3> -->
  <div class="jajin-detail">
    <p class="hint-title">恭喜您获得：</p>
    <p class="jajin-line text-center"><span class="money"><%= @jajin_log.amount %></span>小金</p>  

    <%= image_tag "jajin_bg2.gif" %>
  </div>

</div>
