<h1>Listing gain_orgs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gain_orgs.each do |gain_org| %>
      <tr>
        <td><%= link_to 'Show', gain_org %></td>
        <td><%= link_to 'Edit', edit_gain_org_path(gain_org) %></td>
        <td><%= link_to 'Destroy', gain_org, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gain org', new_gain_org_path %>
