<h1>Listing pension_logs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pension_logs.each do |pension_log| %>
      <tr>
        <td><%= link_to 'Show', pension_log %></td>
        <td><%= link_to 'Edit', edit_pension_log_path(pension_log) %></td>
        <td><%= link_to 'Destroy', pension_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pension log', new_pension_log_path %>
