<p id="notice"><%= notice %></p>

<p>
  <strong>Reward:</strong>
</p>

<p>
  <strong>Customer:</strong>
</p>

<p>
  <strong>Merchant:</strong>
</p>

<p>
  <strong>Amount:</strong>
</p>

<p>
  <strong>Float:</strong>
</p>

<p>
  <strong>Verify code:</strong>
</p>

<p>
  <strong>Verify time:</strong>
</p>

