<h1>Listing customer_reg_infos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer_reg_infos.each do |customer_reg_info| %>
      <tr>
        <td><%= link_to 'Show', customer_reg_info %></td>
        <td><%= link_to 'Edit', edit_customer_reg_info_path(customer_reg_info) %></td>
        <td><%= link_to 'Destroy', customer_reg_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer reg info', new_customer_reg_info_path %>
