/**
 * scss 统一变量定义
 * 
 * @author stw(suntongwei@denong.com)
 * @version 0.1
 */

// 统一程序背景色
$app-color: #ededed;

// 白色
$color-white: #fff;


/*********************************************************
 * 以下定义针对bootstrap进行修正
 *********************************************************/
// 设置全局字体
$font-family-sans-serif: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "Microsoft YaHei", Georgia, "Times New Roman", Times, serif;

// 清除每个栅格的左右默认间距
$grid-gutter-width: 0;

// 对面包屑的修正
$breadcrumb-bg: transparent;
$breadcrumb-separator: ">";
$breadcrumb-padding-vertical: 0;
$breadcrumb-padding-horizontal: 0;