<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
      	<%= image_tag "logo.png" %>
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
    	<li class="h5">
    		<%= image_tag "icon_arrow_down.png" %>下载移动版小确幸
    	</li>
    </ul>
  </div>
</nav>